<div class="row navbar">
    <div class="col-md-2 logo">
        <a href="/">
            <img src="./../../assets/logo.png"></img>
        </a>
    </div>
    <div class="col-md-8 menu" data-navigation>
        <span class="toggle-menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </span>
        <ul>
            <li><a href="content.html">Content</a></li>
            <li><a href="article.html">Article</a></li>
        </ul>
    </div>
</div>