<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Geef hoop</h1>
            </div>
        </div>
        <div class="row video">
            <div class="col-md-6">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JWBd5LkkH0Q" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6" id="doneer">
                <h2>Doneer nu</h2>
                ${require("../../components/donate/paytium.html")}
            </div>
        </div>
        <div class="row video">
            <div class="col-md-6">
                <h2>Het verhaal van</h2>
                <p>
                    Nulla eget lorem efficitur, consectetur dui nec, ultricies elit. Vivamus pellentesque dolor non nisi congue scelerisque. Etiam efficitur varius enim, ut ultrices neque vehicula sit amet. Donec facilisis pretium sapien quis bibendum. Donec sed neque eu nunc congue porttitor. Aliquam dapibus libero faucibus mauris mollis semper in id erat. Etiam ex nulla, mollis vitae massa sed, bibendum pellentesque ligula. Vivamus eu sagittis turpis. Praesent gravida sit amet ante eget ornare. Ut tincidunt semper suscipit. Vivamus bibendum suscipit elit, eget vestibulum lorem posuere vitae. Aliquam sollicitudin hendrerit ligula ac varius. Nam non nibh urna.
                </p>
            </div>
            <div class="col-md-6">
                <img src="./../../assets/bg.jpeg" class="hover-animate" alt="">
            </div>
           
        </div>

    </div><!-- container -->
</div>   <!-- content -->